[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "word-search-generator"
authors = [
    {name = "Josh Duncan", email = "joshbduncan@gmail.com"},
]
description = "Make awesome Word Search puzzles"
readme = "README.md"
requires-python = ">=3.7"
keywords = ["puzzles", "games", "word-search",]
license = {text = "MIT License"}
classifiers = [
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Topic :: Games/Entertainment :: Puzzle Games",
    "Typing :: Typed",
]
dependencies = [
    "fpdf2==2.4.2",
    "typing_extensions==4.4.0",
]
dynamic = ["version"]

[tool.setuptools.dynamic]
version = {attr = "word_search_generator.__version__"}

[project.urls]
homepage = "https://github.com/joshbduncan/word-search-generator"
documentation = "https://github.com/joshbduncan/word-search-generator/wiki"
repository = "https://github.com/joshbduncan/word-search-generator.git"
changelog = "https://github.com/joshbduncan/word-search-generator/blob/main/CHANGLOG.md"
bug-tracker = "https://github.com/joshbduncan/word-search-generator/issues"

[project.optional-dependencies]
tests = ["pypdf>=3.1.0", "pytest>=6.2.5", "pytest-cov>=3.0.0",]
dev = ["black>=21.12b0", "flake8>=4.0.1", "isort>=5.10.1", "mypy>=0.931", "ruff>=0.0.254", "tox>=3.24.5",]

[tool.setuptools.packages.find]
where = ["src"]
include = ["word_search_generator"]

[project.scripts]
word-search = "word_search_generator.cli:main"

# TOOL CONFIGURATION

[tool.black]
line-length = 88
exclude = '''
/(
    \.git
  | \.mypy_cache
  | venv
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = "--cov=word_search_generator"
testpaths = [
    "tests",
]

[tool.mypy]
mypy_path = "src"
check_untyped_defs = true
disallow_any_generics = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
strict_equality = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
no_implicit_reexport = true

[tool.ruff]
exclude = [".venv"]
extend-select = ["C4", "I", "SIM", "TCH"]
fixable = ["B", "I"]
format = "grouped"
line-length = 88
show-fixes = true
src = ["src", "test"]
target-version = "py37"

[tool.ruff.per-file-ignores]
# Ignore `E402` (import violations) in all `__init__.py`.
"__init__.py" = ["E402"]
# Ignore `TCH004` in `bitmap.py` (https://github.com/charliermarsh/ruff/issues/2852).
"src/word_search_generator/mask/bitmap.py" = ["TCH004"]
