[project]
name = "word-search-generator"
version = "4.0.0"
authors = [{ name = "Josh Duncan", email = "joshbduncan@gmail.com" }]
description = "Make awesome Word Search puzzles"
readme = "README.md"
requires-python = ">=3.10"
keywords = ["puzzles", "games", "word-search"]
license = { text = "MIT License" }
classifiers = [
    "Intended Audience :: End Users/Desktop",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Topic :: Games/Entertainment :: Puzzle Games",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Typing :: Typed",
]
dependencies = ["fpdf2==2.7.8", "Pillow==11.0.0", "rich==13.6.0", "ordered-set>=4.0.0"]

[project.urls]
homepage = "https://github.com/joshbduncan/word-search-generator"
documentation = "https://github.com/joshbduncan/word-search-generator/wiki"
repository = "https://github.com/joshbduncan/word-search-generator.git"
changelog = "https://github.com/joshbduncan/word-search-generator/blob/main/CHANGLOG.md"
bug-tracker = "https://github.com/joshbduncan/word-search-generator/issues"

[project.scripts]
word-search = "word_search_generator.cli:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
dev-dependencies = [
    "mypy>=1.15.0",
    "pdfplumber>=0.11.4",
    "pre-commit>=3.8.0",
    "pypdf>=5.0.0",
    "pytest>=8.3.3",
    "pytest-asyncio>=0.24.0",
    "pytest-cov>=5.0.0",
    "ruff>=0.6.6",
    "pre-commit-uv>=4.1.2",
    "tox>=4.20.0",
    "tox-uv>=1.13.0",
]

[tool.uv.sources]
word-search-generator = { workspace = true }
