black>=23.9.1
flake8>=6.1.0
isort>=5.12.0
mypy>=1.5.1
pdfplumber>=0.10.2
pre-commit>=3.4.0
pypdf>=3.16.2
ruff>=0.0.291
tox>=4.11.3
pypdf>=3.16.2
pytest>=7.4.2
pytest-cov>=4.1.0
pytest-asyncio>=0.21.0
